openapi: 3.0.0
info:
  title: Atletiek.nu Competition Data API
  description: |
    A refined, hypothetical API for accessing competition data managed by Atletiek.nu, 
    focusing on events, start lists, results, and national rankings.
  version: 1.1.0
servers:
  - url: https://api.atletiek.nu/v1
    description: Primary API server for public access

# ----------------- PATHS (API Endpoints) -----------------
paths:
  /events:
    get:
      tags:
        - Wedstrijden (Events)
      summary: Retrieve a calendar of upcoming and past athletics events.
      operationId: getEvents
      parameters:
        - name: status
          in: query
          description: Filter events by status.
          required: false
          schema:
            type: string
            enum: [Upcoming, Completed, Registration_Open]
        - name: year
          in: query
          description: Filter events by year.
          required: false
          schema:
            type: integer
      responses:
        "200":
          description: A list of detailed events.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/EventDetails"

  /events/{eventId}/startlist:
    get:
      tags:
        - Wedstrijden (Events)
      summary: Get the official start list and heat/lane assignments for an event.
      operationId: getStartList
      parameters:
        - name: eventId
          in: path
          description: The unique identifier of the competition.
          required: true
          schema:
            type: string
      responses:
        "200":
          description: The start list grouped by discipline and series.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/StartEntry"

  /athletes/{atleetId}/prs:
    get:
      tags:
        - Atleten (Athletes)
      summary: Retrieve the Personal Best (PR) and Season Best (SB) records for an athlete.
      operationId: getAthletePersonalBests
      parameters:
        - name: atleetId
          in: path
          description: The unique ID or KNAU/Atletiekunie license number of the athlete.
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Athlete profile and personal/season bests.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AthleteBests"

  /athletes/{athleteId}/results:
    get:
      tags:
        - Atleten (Athletes)
      summary: Get results of a specific athlete.
      operationId: getAthleteResults
      parameters:
        - name: athleteId
          in: path
          description: The id of the athlete
          required: true
          schema:
            type: string
        - name: season
          in: query
          description: Athletics season
          required: false
          schema:
            type: integer
        - name: discipline
          in: query
          description: The specific track and field discipline (e.g., 100m, Speerwerpen).
          required: false
          schema:
            type: string
        - name: location
          in: query
          description: Location of the events.
          required: false
          schema:
            type: string
        - name: date_from
          in: query
          description: Get all events after this date.
          required: false
          schema:
            type: string
            format: date
        - name: date_to
          in: query
          description: Get all events before this date.
          required: false
          schema:
            type: string
            format: date
        - name: page
          in: query
          description: Page number of query.
          required: false
          schema:
            type: integer
            minimum: 1
        - name: limit
          in: query
          description: Max amount of results per page.
          required: false
          schema:
            type: integer
            minimum: 1
            default: 25
            maximum: 100
        - name: sort
          in: query
          description: Sort by result date (`date_asc` oldest first, `date_desc` newest first).
          required: false
          schema:
            type: string
            enum:
              - date_asc
              - date_desc
            default: date_desc

      responses:
        "200":
          description: A paginated list of results for the given athlete.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedAthleteResults"

  /rankings/{discipline}:
    get:
      tags:
        - Ranglijsten (Rankings)
      summary: Get national ranking data for a specific discipline and category.
      operationId: getNationalRanking
      parameters:
        - name: discipline
          in: path
          description: The specific track and field discipline (e.g., 100m, Speerwerpen).
          required: true
          schema:
            type: string
        - name: category
          in: query
          description: Filter by age/gender category (e.g., Senioren Mannen, Meisjes U18).
          required: true
          schema:
            type: string
      responses:
        "200":
          description: A list of ranked athletes and their top performances.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/RankingEntry"

# ----------------- COMPONENTS (Data Structures) -----------------
components:
  schemas:
    EventDetails:
      type: object
      description: Detailed information about an athletics competition.
      properties:
        id:
          type: string
          description: Unique identifier for the event (e.g., '20250726_NK').
          example: "NK2025"
        naam:
          type: string
          description: The official name of the event (e.g., 'ASICS NK Atletiek 2025').
        datum:
          type: string
          format: date
          description: The start date of the event.
        locatie:
          type: string
          description: Venue or city where the event is held.
        organisator:
          type: string
          description: The organizing club or body.
          example: "AV Flevo Delta"
        inschrijving_status:
          type: string
          description: Current status of athlete registration.
          enum: [Open, Closed, Full, Not_Applicable]
          example: "Open"
        uitslagen_url:
          type: string
          format: url
          description: Direct link to the public results page for the event.

    StartEntry:
      type: object
      description: A single entry in a start list, tied to a specific heat/series.
      properties:
        atleetId:
          type: string
          description: ID of the athlete.
        naam:
          type: string
        club:
          type: string
          description: Athlete's affiliated club.
        discipline:
          type: string
          example: "100m Vrouwen"
        serie:
          type: integer
          description: The heat or series number.
        baan:
          type: integer
          description: The lane number (for track events) or start group (for field events).
        ingevoerde_prestatie:
          type: string
          description: The performance used for seeding the heat/group (PB, SB, or season best).
          example: "11.23"

    Performance:
      type: object
      description: A recorded result or personal best.
      properties:
        discipline:
          type: string
          description: The specific discipline (e.g., "400m Horden").
        prestatie:
          type: string
          description: The recorded performance (time or distance).
          example: "51.45"
        eenheid:
          type: string
          enum: [sec, m, cm, punten]
        datum:
          type: string
          format: date
        locatie:
          type: string
          description: Location where the performance was achieved.

    AthleteBests:
      type: object
      description: Athlete's profile with their best recorded performances.
      properties:
        atleetId:
          type: string
        volledige_naam:
          type: string
        geboortejaar:
          type: integer
        persoonlijke_records:
          type: array
          items:
            $ref: "#/components/schemas/Performance"
        seizoen_records:
          type: array
          items:
            $ref: "#/components/schemas/Performance"

    RankingEntry:
      type: object
      description: An entry on a specific national ranking list.
      properties:
        positie:
          type: integer
          description: The athlete's rank in the list.
        atleetId:
          type: string
        naam:
          type: string
        club:
          type: string
        beste_prestatie:
          $ref: "#/components/schemas/Performance"

    EventPerformance:
      type: object
      description: A single competition result entry for an athlete.
      properties:
        eventId:
          type: string
          description: Unique identifier of the event.
        eventName:
          type: string
          description: Public name of the event.
        discipline:
          type: string
          description: Discipline in which the athlete competed.
          example: "100m"
        performance:
          type: string
          description: Recorded performance (time or distance).
          example: "10.55"
        unit:
          type: string
          description: Unit of the recorded performance.
          enum: [sec, m, cm, punten]
        wind:
          type: string
          description: Wind reading for relevant disciplines.
          example: "+1.2"
        rank:
          type: integer
          description: Finishing position in the event/heat.
        date:
          type: string
          format: date
          description: Date on which the performance was recorded.
        location:
          type: string
          description: City or venue where the event took place.

    PaginationMeta:
      type: object
      description: Pagination metadata for list responses.
      properties:
        page:
          type: integer
          minimum: 1
          description: Current page number.
        limit:
          type: integer
          minimum: 1
          description: Maximum number of items returned per page.
        totalItems:
          type: integer
          minimum: 0
          description: Total number of matching items.
        totalPages:
          type: integer
          minimum: 0
          description: Total number of pages based on page size.

    PaginatedAthleteResults:
      type: object
      description: Paginated results for a specific athlete.
      properties:
        items:
          type: array
          description: Athlete result entries for the current page.
          items:
            $ref: "#/components/schemas/EventPerformance"
        pagination:
          $ref: "#/components/schemas/PaginationMeta"
